.friends {
  display: block;
  margin: 0;
  margin-top: 50px;
}
.friendList {
  padding: 0;
  list-style-type: none;
}
.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 550px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-top: 15px;
}
.status {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.avatar {
    margin-left: 15px;
  padding: 10px;
  width: 110px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ededed;
}
.name {
    margin-left: 15px;
    font-weight: 500;
}